In [2]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')   # para quitar esos prints

pd.set_option('display.max_columns', None)  # me muestre todas las columnas
#pd.set_option('display.max_rows', None)  # me muestre todas las filas

In [3]:
df_men = pd.read_csv('men_main_21.1.csv')                   #Comenzamos a limpiar el df a como queremos 
df_men.columns=[e.lower().replace(' ', '_') for e in df_men.columns]
df_men.head()

,unnamed:_0,first_name,lastname,placing,country,continent,age,affiliate,height_and_weight,points,21.1,21.1_time,21.2,21.2_time,21.3,21.3_time,21.4,weight,unnamed:_18
0,0,JEFFRE,ADLER,1,Canada,North America,Age 27,CrossFit Wonderland,69 in | 197 lb,101.0,20th (11:55),605 reps,8th (9:14),225 reps,27th (8:15),180 reps,46th (317 lbs),Weight lifted: 317 lbs.,NaN
1,1,SCOTT,PANCHIK,2,United States,North America,Age 33,CrossFit Mentality,69 in | 187 lb,141.0,33rd (12:25),605 reps,47th (9:52),225 reps,5th (7:48),180 reps,56th (316 lbs),Weight lifted: 316 lbs.,NaN
2,2,TRAVIS,MEAD,3,United States,North America,Age 34,Iron Valley CrossFit,73 in | 205 lb,165.0,87th (13:02),605 reps,24th (9:38),225 reps,48th (8:26),180 reps,6th (345 lbs),Weight lifted: 345 lbs.,NaN
3,3,SAXON,PANCHIK,4,United States,North America,Age 25,CrossFit Cliffside,69 in | 180 lb,217.0,5th (11:25),605 reps,68th (9:59),225 reps,87th (8:41),180 reps,57th (316 lbs),Weight lifted: 316 lbs.,NaN
4,4,RICHARD,FRONING JR.,5,United States,North America,Age 33,CrossFit Mayhem,69 in | 194 lb,254.0,58th (12:45),605 reps,91st (10:04),225 reps,5th (7:48),180 reps,100th (312 lbs),Weight lifted: 312 lbs.,NaN

In [4]:
df_men.shape

(137464, 19)

In [5]:
nan_filas = df_men.T.isna().mean()  * 100  
nan_filas[nan_filas > 26]

2273      26.315789
3618      26.315789
3977      26.315789
4328      26.315789
4442      26.315789
            ...
137459    36.842105
137460    36.842105
137461    31.578947
137462    26.315789
137463    36.842105
Length: 52016, dtype: float64

In [6]:
bad_index=nan_filas.index[nan_filas>26] #Eliminamos las filas que tengan mas del 36% de valores nan
df_men = df_men.drop(bad_index, axis=0)

In [7]:
df_men.shape

(85448, 19)

In [8]:
df_men.tail()

,unnamed:_0,first_name,lastname,placing,country,continent,age,affiliate,height_and_weight,points,21.1,21.1_time,21.2,21.2_time,21.3,21.3_time,21.4,weight,unnamed:_18
134491,134491,FELIX,GÜNTHER,134492,Germany,Europe,Age 35,CrossFit DD,168 cm | 74 kg,461936.0,117347th (--),NaN,110258th (11:16 - f),225 reps,99624th (6:19 - f),180 reps,134707th (0 lbs - f),Weight lifted: 0 lbs.,NaN
134810,134810,DECLAN,SMITH,134811,Ireland,Europe,Age 39,CrossFit Kerry,NaN,462477.0,115890th (115 reps - s),NaN,110754th (--),NaN,99942nd (7:55 - f),180 reps,135891st (0 lbs - f),Weight lifted: 0 lbs.,NaN
135878,135878,CHRISTIAN,FRATTINI,135879,France,Europe,Age 42,NaN,186 cm | 90 kg,463691.0,116197th (11:57 - f),605 reps,110452nd (15:10 - f),225 reps,101151st (--),NaN,135891st (--),NaN,NaN
135879,135879,ANDREW,VAUGHAN-WILLIAMS,135880,United Kingdom,Europe,Age 47,Battersea District CrossFit,NaN,463733.0,116869th (--),NaN,110754th (--),NaN,99643rd (6:26 - f),180 reps,136467th (0 lbs - f),Weight lifted: 0 lbs.,NaN
136065,136065,YANN,BOGDANOVIC,136066,France,Europe,Age 45,CrossFit Angouleme,177 cm | 80 kg,464640.0,116507th (443 reps - f),NaN,111374th (--),NaN,100292nd (10:20 - f),180 reps,136467th (0 lbs - f),Weight lifted: 0 lbs.,NaN

In [9]:
df_men = df_men.rename(columns={'weight': 'weight_lifted'})

In [10]:
df_men.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85448 entries, 0 to 136065
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   unnamed:_0         85448 non-null  int64
 1   first_name         85448 non-null  object
 2   lastname           85445 non-null  object
 3   placing            85448 non-null  object
 4   country            85448 non-null  object
 5   continent          85448 non-null  object
 6   age                85448 non-null  object
 7   affiliate          77097 non-null  object
 8   height_and_weight  68816 non-null  object
 9   points             85448 non-null  float64
 10  21.1               85448 non-null  object
 11  21.1_time          7465 non-null   object
 12  21.2               85448 non-null  object
 13  21.2_time          60719 non-null  object
 14  21.3               85448 non-null  object
 15  21.3_time          15121 non-null  object
 16  21.4               85448 non-null  object
 17  weight_lifted      81910 non-null  object
 18  unnamed:_18        0 non-null      object
dtypes: float64(1), int64(1), object(17)
memory usage: 13.0+ MB

In [11]:
df_men = df_men.drop('unnamed:_18', axis=1) #Eliminamos columna llena de Null

In [12]:
df_men['age'] = df_men['age'].str.replace('Age', '')
df_men.head()

,unnamed:_0,first_name,lastname,placing,country,continent,age,affiliate,height_and_weight,points,21.1,21.1_time,21.2,21.2_time,21.3,21.3_time,21.4,weight_lifted
0,0,JEFFRE,ADLER,1,Canada,North America,27,CrossFit Wonderland,69 in | 197 lb,101.0,20th (11:55),605 reps,8th (9:14),225 reps,27th (8:15),180 reps,46th (317 lbs),Weight lifted: 317 lbs.
1,1,SCOTT,PANCHIK,2,United States,North America,33,CrossFit Mentality,69 in | 187 lb,141.0,33rd (12:25),605 reps,47th (9:52),225 reps,5th (7:48),180 reps,56th (316 lbs),Weight lifted: 316 lbs.
2,2,TRAVIS,MEAD,3,United States,North America,34,Iron Valley CrossFit,73 in | 205 lb,165.0,87th (13:02),605 reps,24th (9:38),225 reps,48th (8:26),180 reps,6th (345 lbs),Weight lifted: 345 lbs.
3,3,SAXON,PANCHIK,4,United States,North America,25,CrossFit Cliffside,69 in | 180 lb,217.0,5th (11:25),605 reps,68th (9:59),225 reps,87th (8:41),180 reps,57th (316 lbs),Weight lifted: 316 lbs.
4,4,RICHARD,FRONING JR.,5,United States,North America,33,CrossFit Mayhem,69 in | 194 lb,254.0,58th (12:45),605 reps,91st (10:04),225 reps,5th (7:48),180 reps,100th (312 lbs),Weight lifted: 312 lbs.

In [13]:
df_men[['height', 'weight']] = df_men['height_and_weight'].str.split('|', expand=True)
df_men['height'] = df_men['height']
df_men['weight'] = df_men['weight']
df_men = df_men.drop('height_and_weight', axis=1)              #Separamos columnas de peso y estatura

In [14]:
nan_filas = df_men.isna().mean()  * 100  #Ver Nulos
nan_filas

unnamed:_0        0.000000
first_name        0.000000
lastname          0.003511
placing           0.000000
country           0.000000
continent         0.000000
age               0.000000
affiliate         9.773195
points            0.000000
21.1              0.000000
21.1_time        91.263693
21.2              0.000000
21.2_time        28.940408
21.3              0.000000
21.3_time        82.303857
21.4              0.000000
weight_lifted     4.140530
height           19.464470
weight           24.798708
dtype: float64

In [15]:
df_men['weight'] = df_men['weight'].fillna(0) #llenamos de 0 los nulos para luego reemplazarlos por la mediana

In [16]:
def convertir_a_kilos(weight):                                    #Tranformamos todo a Kilos 
    value, unit = weight.str.extract('(\d+) (\w+)').values.T
    return pd.to_numeric(value) * (1.0 if unit[0] == 'kg' else 0.45359237)

In [17]:
df_men['weight'] = convertir_a_kilos(df_men['weight'])

In [18]:
df_men['weight'].value_counts()

83.914588     2796
81.646627     2245
88.450512     2167
86.182550     2155
79.378665     2105
              ...
166.921992       1
148.324705       1
165.561215       1
135.170526       1
222.260261       1
Name: weight, Length: 316, dtype: int64

In [19]:
df_men['weight'] = df_men['weight'].replace(0, np.nan)

In [20]:
df_men['weight'] = df_men['weight'].fillna(df_men['weight'].median())

In [21]:
df_men['weight']

0         89.357697
1         84.821773
2         92.986436
3         81.646627
4         87.996920
            ...
134491    33.565835
134810    74.842741
135878    40.823313
135879    74.842741
136065    36.287390
Name: weight, Length: 85448, dtype: float64

In [22]:
df_men['weight'] = df_men['weight'].round(1).astype(int)
df_men

,unnamed:_0,first_name,lastname,placing,country,continent,age,affiliate,points,21.1,21.1_time,21.2,21.2_time,21.3,21.3_time,21.4,weight_lifted,height,weight
0,0,JEFFRE,ADLER,1,Canada,North America,27,CrossFit Wonderland,101.0,20th (11:55),605 reps,8th (9:14),225 reps,27th (8:15),180 reps,46th (317 lbs),Weight lifted: 317 lbs.,69 in,89
1,1,SCOTT,PANCHIK,2,United States,North America,33,CrossFit Mentality,141.0,33rd (12:25),605 reps,47th (9:52),225 reps,5th (7:48),180 reps,56th (316 lbs),Weight lifted: 316 lbs.,69 in,84
2,2,TRAVIS,MEAD,3,United States,North America,34,Iron Valley CrossFit,165.0,87th (13:02),605 reps,24th (9:38),225 reps,48th (8:26),180 reps,6th (345 lbs),Weight lifted: 345 lbs.,73 in,93
3,3,SAXON,PANCHIK,4,United States,North America,25,CrossFit Cliffside,217.0,5th (11:25),605 reps,68th (9:59),225 reps,87th (8:41),180 reps,57th (316 lbs),Weight lifted: 316 lbs.,69 in,81
4,4,RICHARD,FRONING JR.,5,United States,North America,33,CrossFit Mayhem,254.0,58th (12:45),605 reps,91st (10:04),225 reps,5th (7:48),180 reps,100th (312 lbs),Weight lifted: 312 lbs.,69 in,88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134491,134491,FELIX,GÜNTHER,134492,Germany,Europe,35,CrossFit DD,461936.0,117347th (--),NaN,110258th (11:16 - f),225 reps,99624th (6:19 - f),180 reps,134707th (0 lbs - f),Weight lifted: 0 lbs.,168 cm,33
134810,134810,DECLAN,SMITH,134811,Ireland,Europe,39,CrossFit Kerry,462477.0,115890th (115 reps - s),NaN,110754th (--),NaN,99942nd (7:55 - f),180 reps,135891st (0 lbs - f),Weight lifted: 0 lbs.,NaN,74
135878,135878,CHRISTIAN,FRATTINI,135879,France,Europe,42,NaN,463691.0,116197th (11:57 - f),605 reps,110452nd (15:10 - f),225 reps,101151st (--),NaN,135891st (--),NaN,186 cm,40
135879,135879,ANDREW,VAUGHAN-WILLIAMS,135880,United Kingdom,Europe,47,Battersea District CrossFit,463733.0,116869th (--),NaN,110754th (--),NaN,99643rd (6:26 - f),180 reps,136467th (0 lbs - f),Weight lifted: 0 lbs.,NaN,74
136065,136065,YANN,BOGDANOVIC,136066,France,Europe,45,CrossFit Angouleme,464640.0,116507th (443 reps - f),NaN,111374th (--),NaN,100292nd (10:20 - f),180 reps,136467th (0 lbs - f),Weight lifted: 0 lbs.,177 cm,36

In [23]:
df_men.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85448 entries, 0 to 136065
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   unnamed:_0     85448 non-null  int64
 1   first_name     85448 non-null  object
 2   lastname       85445 non-null  object
 3   placing        85448 non-null  object
 4   country        85448 non-null  object
 5   continent      85448 non-null  object
 6   age            85448 non-null  object
 7   affiliate      77097 non-null  object
 8   points         85448 non-null  float64
 9   21.1           85448 non-null  object
 10  21.1_time      7465 non-null   object
 11  21.2           85448 non-null  object
 12  21.2_time      60719 non-null  object
 13  21.3           85448 non-null  object
 14  21.3_time      15121 non-null  object
 15  21.4           85448 non-null  object
 16  weight_lifted  81910 non-null  object
 17  height         68816 non-null  object
 18  weight         85448 non-null  int32
dtypes: float64(1), int32(1), int64(1), object(16)
memory usage: 12.7+ MB

In [24]:
df_men['height'] = df_men['height'].fillna(0) #llenamos de 0 los nulos para luego reemplazarlos por la mediana

In [25]:
df_men.head()

,unnamed:_0,first_name,lastname,placing,country,continent,age,affiliate,points,21.1,21.1_time,21.2,21.2_time,21.3,21.3_time,21.4,weight_lifted,height,weight
0,0,JEFFRE,ADLER,1,Canada,North America,27,CrossFit Wonderland,101.0,20th (11:55),605 reps,8th (9:14),225 reps,27th (8:15),180 reps,46th (317 lbs),Weight lifted: 317 lbs.,69 in,89
1,1,SCOTT,PANCHIK,2,United States,North America,33,CrossFit Mentality,141.0,33rd (12:25),605 reps,47th (9:52),225 reps,5th (7:48),180 reps,56th (316 lbs),Weight lifted: 316 lbs.,69 in,84
2,2,TRAVIS,MEAD,3,United States,North America,34,Iron Valley CrossFit,165.0,87th (13:02),605 reps,24th (9:38),225 reps,48th (8:26),180 reps,6th (345 lbs),Weight lifted: 345 lbs.,73 in,93
3,3,SAXON,PANCHIK,4,United States,North America,25,CrossFit Cliffside,217.0,5th (11:25),605 reps,68th (9:59),225 reps,87th (8:41),180 reps,57th (316 lbs),Weight lifted: 316 lbs.,69 in,81
4,4,RICHARD,FRONING JR.,5,United States,North America,33,CrossFit Mayhem,254.0,58th (12:45),605 reps,91st (10:04),225 reps,5th (7:48),180 reps,100th (312 lbs),Weight lifted: 312 lbs.,69 in,88

In [26]:
import re

In [27]:
df_men[['height_new', 'medida']] = df_men['height'].str.extract(r'(\d+)\s*(\D+)')
df_men.head()

,unnamed:_0,first_name,lastname,placing,country,continent,age,affiliate,points,21.1,21.1_time,21.2,21.2_time,21.3,21.3_time,21.4,weight_lifted,height,weight,height_new,medida
0,0,JEFFRE,ADLER,1,Canada,North America,27,CrossFit Wonderland,101.0,20th (11:55),605 reps,8th (9:14),225 reps,27th (8:15),180 reps,46th (317 lbs),Weight lifted: 317 lbs.,69 in,89,69,in
1,1,SCOTT,PANCHIK,2,United States,North America,33,CrossFit Mentality,141.0,33rd (12:25),605 reps,47th (9:52),225 reps,5th (7:48),180 reps,56th (316 lbs),Weight lifted: 316 lbs.,69 in,84,69,in
2,2,TRAVIS,MEAD,3,United States,North America,34,Iron Valley CrossFit,165.0,87th (13:02),605 reps,24th (9:38),225 reps,48th (8:26),180 reps,6th (345 lbs),Weight lifted: 345 lbs.,73 in,93,73,in
3,3,SAXON,PANCHIK,4,United States,North America,25,CrossFit Cliffside,217.0,5th (11:25),605 reps,68th (9:59),225 reps,87th (8:41),180 reps,57th (316 lbs),Weight lifted: 316 lbs.,69 in,81,69,in
4,4,RICHARD,FRONING JR.,5,United States,North America,33,CrossFit Mayhem,254.0,58th (12:45),605 reps,91st (10:04),225 reps,5th (7:48),180 reps,100th (312 lbs),Weight lifted: 312 lbs.,69 in,88,69,in

In [28]:
df_men['height_new'] = df_men['height_new'].fillna(0)

In [29]:
df_men['height_new'] = df_men['height_new'].astype(float)

In [30]:
df_men['height_new'] = df_men['height_new'].apply(lambda x: x * 2.54 if 0 < x < 90 and x % 0.5 == 0 else x)

In [31]:
df_men.head()

,unnamed:_0,first_name,lastname,placing,country,continent,age,affiliate,points,21.1,21.1_time,21.2,21.2_time,21.3,21.3_time,21.4,weight_lifted,height,weight,height_new,medida
0,0,JEFFRE,ADLER,1,Canada,North America,27,CrossFit Wonderland,101.0,20th (11:55),605 reps,8th (9:14),225 reps,27th (8:15),180 reps,46th (317 lbs),Weight lifted: 317 lbs.,69 in,89,175.26,in
1,1,SCOTT,PANCHIK,2,United States,North America,33,CrossFit Mentality,141.0,33rd (12:25),605 reps,47th (9:52),225 reps,5th (7:48),180 reps,56th (316 lbs),Weight lifted: 316 lbs.,69 in,84,175.26,in
2,2,TRAVIS,MEAD,3,United States,North America,34,Iron Valley CrossFit,165.0,87th (13:02),605 reps,24th (9:38),225 reps,48th (8:26),180 reps,6th (345 lbs),Weight lifted: 345 lbs.,73 in,93,185.42,in
3,3,SAXON,PANCHIK,4,United States,North America,25,CrossFit Cliffside,217.0,5th (11:25),605 reps,68th (9:59),225 reps,87th (8:41),180 reps,57th (316 lbs),Weight lifted: 316 lbs.,69 in,81,175.26,in
4,4,RICHARD,FRONING JR.,5,United States,North America,33,CrossFit Mayhem,254.0,58th (12:45),605 reps,91st (10:04),225 reps,5th (7:48),180 reps,100th (312 lbs),Weight lifted: 312 lbs.,69 in,88,175.26,in

In [32]:
df_men['height_new'] = round(df_men['height_new'], 0)
df_men.head()

,unnamed:_0,first_name,lastname,placing,country,continent,age,affiliate,points,21.1,21.1_time,21.2,21.2_time,21.3,21.3_time,21.4,weight_lifted,height,weight,height_new,medida
0,0,JEFFRE,ADLER,1,Canada,North America,27,CrossFit Wonderland,101.0,20th (11:55),605 reps,8th (9:14),225 reps,27th (8:15),180 reps,46th (317 lbs),Weight lifted: 317 lbs.,69 in,89,175.0,in
1,1,SCOTT,PANCHIK,2,United States,North America,33,CrossFit Mentality,141.0,33rd (12:25),605 reps,47th (9:52),225 reps,5th (7:48),180 reps,56th (316 lbs),Weight lifted: 316 lbs.,69 in,84,175.0,in
2,2,TRAVIS,MEAD,3,United States,North America,34,Iron Valley CrossFit,165.0,87th (13:02),605 reps,24th (9:38),225 reps,48th (8:26),180 reps,6th (345 lbs),Weight lifted: 345 lbs.,73 in,93,185.0,in
3,3,SAXON,PANCHIK,4,United States,North America,25,CrossFit Cliffside,217.0,5th (11:25),605 reps,68th (9:59),225 reps,87th (8:41),180 reps,57th (316 lbs),Weight lifted: 316 lbs.,69 in,81,175.0,in
4,4,RICHARD,FRONING JR.,5,United States,North America,33,CrossFit Mayhem,254.0,58th (12:45),605 reps,91st (10:04),225 reps,5th (7:48),180 reps,100th (312 lbs),Weight lifted: 312 lbs.,69 in,88,175.0,in

In [33]:
df_men = df_men.drop('medida', axis=1)

In [34]:
df_men = df_men.drop('height', axis=1)

In [35]:
df_men.head()

,unnamed:_0,first_name,lastname,placing,country,continent,age,affiliate,points,21.1,21.1_time,21.2,21.2_time,21.3,21.3_time,21.4,weight_lifted,weight,height_new
0,0,JEFFRE,ADLER,1,Canada,North America,27,CrossFit Wonderland,101.0,20th (11:55),605 reps,8th (9:14),225 reps,27th (8:15),180 reps,46th (317 lbs),Weight lifted: 317 lbs.,89,175.0
1,1,SCOTT,PANCHIK,2,United States,North America,33,CrossFit Mentality,141.0,33rd (12:25),605 reps,47th (9:52),225 reps,5th (7:48),180 reps,56th (316 lbs),Weight lifted: 316 lbs.,84,175.0
2,2,TRAVIS,MEAD,3,United States,North America,34,Iron Valley CrossFit,165.0,87th (13:02),605 reps,24th (9:38),225 reps,48th (8:26),180 reps,6th (345 lbs),Weight lifted: 345 lbs.,93,185.0
3,3,SAXON,PANCHIK,4,United States,North America,25,CrossFit Cliffside,217.0,5th (11:25),605 reps,68th (9:59),225 reps,87th (8:41),180 reps,57th (316 lbs),Weight lifted: 316 lbs.,81,175.0
4,4,RICHARD,FRONING JR.,5,United States,North America,33,CrossFit Mayhem,254.0,58th (12:45),605 reps,91st (10:04),225 reps,5th (7:48),180 reps,100th (312 lbs),Weight lifted: 312 lbs.,88,175.0

In [36]:
df_men['weight_lifted'] = df_men['weight_lifted'].str.extract('(\d+)')

In [37]:
df_men['weight_lifted'] = df_men['weight_lifted'].fillna(0) #llenamos de 0 los nulos

In [38]:
median_value = df_men['height_new'].median(skipna=True)
df_men['height_new'] = df_men['height_new'].replace(0, np.nan)
df_men['height_new'] = df_men['height_new'].fillna(median_value)

In [39]:
df_men.head()

,unnamed:_0,first_name,lastname,placing,country,continent,age,affiliate,points,21.1,21.1_time,21.2,21.2_time,21.3,21.3_time,21.4,weight_lifted,weight,height_new
0,0,JEFFRE,ADLER,1,Canada,North America,27,CrossFit Wonderland,101.0,20th (11:55),605 reps,8th (9:14),225 reps,27th (8:15),180 reps,46th (317 lbs),317,89,175.0
1,1,SCOTT,PANCHIK,2,United States,North America,33,CrossFit Mentality,141.0,33rd (12:25),605 reps,47th (9:52),225 reps,5th (7:48),180 reps,56th (316 lbs),316,84,175.0
2,2,TRAVIS,MEAD,3,United States,North America,34,Iron Valley CrossFit,165.0,87th (13:02),605 reps,24th (9:38),225 reps,48th (8:26),180 reps,6th (345 lbs),345,93,185.0
3,3,SAXON,PANCHIK,4,United States,North America,25,CrossFit Cliffside,217.0,5th (11:25),605 reps,68th (9:59),225 reps,87th (8:41),180 reps,57th (316 lbs),316,81,175.0
4,4,RICHARD,FRONING JR.,5,United States,North America,33,CrossFit Mayhem,254.0,58th (12:45),605 reps,91st (10:04),225 reps,5th (7:48),180 reps,100th (312 lbs),312,88,175.0

In [40]:
def lbs_to_kgs(x):
    return x * 0.45359237

In [41]:
df_men['weight_lifted'] = df_men['weight_lifted'].astype(float)

In [42]:
df_men['weight_lifted'] = df_men['weight_lifted'].apply(lbs_to_kgs)

In [43]:
df_men

,unnamed:_0,first_name,lastname,placing,country,continent,age,affiliate,points,21.1,21.1_time,21.2,21.2_time,21.3,21.3_time,21.4,weight_lifted,weight,height_new
0,0,JEFFRE,ADLER,1,Canada,North America,27,CrossFit Wonderland,101.0,20th (11:55),605 reps,8th (9:14),225 reps,27th (8:15),180 reps,46th (317 lbs),143.788781,89,175.0
1,1,SCOTT,PANCHIK,2,United States,North America,33,CrossFit Mentality,141.0,33rd (12:25),605 reps,47th (9:52),225 reps,5th (7:48),180 reps,56th (316 lbs),143.335189,84,175.0
2,2,TRAVIS,MEAD,3,United States,North America,34,Iron Valley CrossFit,165.0,87th (13:02),605 reps,24th (9:38),225 reps,48th (8:26),180 reps,6th (345 lbs),156.489368,93,185.0
3,3,SAXON,PANCHIK,4,United States,North America,25,CrossFit Cliffside,217.0,5th (11:25),605 reps,68th (9:59),225 reps,87th (8:41),180 reps,57th (316 lbs),143.335189,81,175.0
4,4,RICHARD,FRONING JR.,5,United States,North America,33,CrossFit Mayhem,254.0,58th (12:45),605 reps,91st (10:04),225 reps,5th (7:48),180 reps,100th (312 lbs),141.520819,88,175.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134491,134491,FELIX,GÜNTHER,134492,Germany,Europe,35,CrossFit DD,461936.0,117347th (--),NaN,110258th (11:16 - f),225 reps,99624th (6:19 - f),180 reps,134707th (0 lbs - f),0.000000,33,168.0
134810,134810,DECLAN,SMITH,134811,Ireland,Europe,39,CrossFit Kerry,462477.0,115890th (115 reps - s),NaN,110754th (--),NaN,99942nd (7:55 - f),180 reps,135891st (0 lbs - f),0.000000,74,176.0
135878,135878,CHRISTIAN,FRATTINI,135879,France,Europe,42,NaN,463691.0,116197th (11:57 - f),605 reps,110452nd (15:10 - f),225 reps,101151st (--),NaN,135891st (--),0.000000,40,186.0
135879,135879,ANDREW,VAUGHAN-WILLIAMS,135880,United Kingdom,Europe,47,Battersea District CrossFit,463733.0,116869th (--),NaN,110754th (--),NaN,99643rd (6:26 - f),180 reps,136467th (0 lbs - f),0.000000,74,176.0
136065,136065,YANN,BOGDANOVIC,136066,France,Europe,45,CrossFit Angouleme,464640.0,116507th (443 reps - f),NaN,111374th (--),NaN,100292nd (10:20 - f),180 reps,136467th (0 lbs - f),0.000000,36,177.0

In [44]:
df_men['weight_lifted'] = round(df_men['weight_lifted'], 0)
df_men.head()

,unnamed:_0,first_name,lastname,placing,country,continent,age,affiliate,points,21.1,21.1_time,21.2,21.2_time,21.3,21.3_time,21.4,weight_lifted,weight,height_new
0,0,JEFFRE,ADLER,1,Canada,North America,27,CrossFit Wonderland,101.0,20th (11:55),605 reps,8th (9:14),225 reps,27th (8:15),180 reps,46th (317 lbs),144.0,89,175.0
1,1,SCOTT,PANCHIK,2,United States,North America,33,CrossFit Mentality,141.0,33rd (12:25),605 reps,47th (9:52),225 reps,5th (7:48),180 reps,56th (316 lbs),143.0,84,175.0
2,2,TRAVIS,MEAD,3,United States,North America,34,Iron Valley CrossFit,165.0,87th (13:02),605 reps,24th (9:38),225 reps,48th (8:26),180 reps,6th (345 lbs),156.0,93,185.0
3,3,SAXON,PANCHIK,4,United States,North America,25,CrossFit Cliffside,217.0,5th (11:25),605 reps,68th (9:59),225 reps,87th (8:41),180 reps,57th (316 lbs),143.0,81,175.0
4,4,RICHARD,FRONING JR.,5,United States,North America,33,CrossFit Mayhem,254.0,58th (12:45),605 reps,91st (10:04),225 reps,5th (7:48),180 reps,100th (312 lbs),142.0,88,175.0

In [45]:
df_men = df_men.drop(['21.1', '21.1_time','21.2','21.2_time','21.3','21.3_time','21.4'], axis=1)

In [46]:
df_men

,unnamed:_0,first_name,lastname,placing,country,continent,age,affiliate,points,weight_lifted,weight,height_new
0,0,JEFFRE,ADLER,1,Canada,North America,27,CrossFit Wonderland,101.0,144.0,89,175.0
1,1,SCOTT,PANCHIK,2,United States,North America,33,CrossFit Mentality,141.0,143.0,84,175.0
2,2,TRAVIS,MEAD,3,United States,North America,34,Iron Valley CrossFit,165.0,156.0,93,185.0
3,3,SAXON,PANCHIK,4,United States,North America,25,CrossFit Cliffside,217.0,143.0,81,175.0
4,4,RICHARD,FRONING JR.,5,United States,North America,33,CrossFit Mayhem,254.0,142.0,88,175.0
...,...,...,...,...,...,...,...,...,...,...,...,...
134491,134491,FELIX,GÜNTHER,134492,Germany,Europe,35,CrossFit DD,461936.0,0.0,33,168.0
134810,134810,DECLAN,SMITH,134811,Ireland,Europe,39,CrossFit Kerry,462477.0,0.0,74,176.0
135878,135878,CHRISTIAN,FRATTINI,135879,France,Europe,42,NaN,463691.0,0.0,40,186.0
135879,135879,ANDREW,VAUGHAN-WILLIAMS,135880,United Kingdom,Europe,47,Battersea District CrossFit,463733.0,0.0,74,176.0
136065,136065,YANN,BOGDANOVIC,136066,France,Europe,45,CrossFit Angouleme,464640.0,0.0,36,177.0

In [47]:
df_men = df_men.reset_index()
df_men.tail()

,index,unnamed:_0,first_name,lastname,placing,country,continent,age,affiliate,points,weight_lifted,weight,height_new
85443,134491,134491,FELIX,GÜNTHER,134492,Germany,Europe,35,CrossFit DD,461936.0,0.0,33,168.0
85444,134810,134810,DECLAN,SMITH,134811,Ireland,Europe,39,CrossFit Kerry,462477.0,0.0,74,176.0
85445,135878,135878,CHRISTIAN,FRATTINI,135879,France,Europe,42,NaN,463691.0,0.0,40,186.0
85446,135879,135879,ANDREW,VAUGHAN-WILLIAMS,135880,United Kingdom,Europe,47,Battersea District CrossFit,463733.0,0.0,74,176.0
85447,136065,136065,YANN,BOGDANOVIC,136066,France,Europe,45,CrossFit Angouleme,464640.0,0.0,36,177.0

In [48]:
df_men = df_men.drop(['index', 'unnamed:_0'], axis=1)

In [49]:
df_men = df_men.rename(columns={'level_0': 'id'})
df_men

,first_name,lastname,placing,country,continent,age,affiliate,points,weight_lifted,weight,height_new
0,JEFFRE,ADLER,1,Canada,North America,27,CrossFit Wonderland,101.0,144.0,89,175.0
1,SCOTT,PANCHIK,2,United States,North America,33,CrossFit Mentality,141.0,143.0,84,175.0
2,TRAVIS,MEAD,3,United States,North America,34,Iron Valley CrossFit,165.0,156.0,93,185.0
3,SAXON,PANCHIK,4,United States,North America,25,CrossFit Cliffside,217.0,143.0,81,175.0
4,RICHARD,FRONING JR.,5,United States,North America,33,CrossFit Mayhem,254.0,142.0,88,175.0
...,...,...,...,...,...,...,...,...,...,...,...
85443,FELIX,GÜNTHER,134492,Germany,Europe,35,CrossFit DD,461936.0,0.0,33,168.0
85444,DECLAN,SMITH,134811,Ireland,Europe,39,CrossFit Kerry,462477.0,0.0,74,176.0
85445,CHRISTIAN,FRATTINI,135879,France,Europe,42,NaN,463691.0,0.0,40,186.0
85446,ANDREW,VAUGHAN-WILLIAMS,135880,United Kingdom,Europe,47,Battersea District CrossFit,463733.0,0.0,74,176.0
85447,YANN,BOGDANOVIC,136066,France,Europe,45,CrossFit Angouleme,464640.0,0.0,36,177.0

In [50]:
df_men['name'] = df_men['first_name'] + ' ' + df_men['lastname']
df_men.head()

,first_name,lastname,placing,country,continent,age,affiliate,points,weight_lifted,weight,height_new,name
0,JEFFRE,ADLER,1,Canada,North America,27,CrossFit Wonderland,101.0,144.0,89,175.0,JEFFRE ADLER
1,SCOTT,PANCHIK,2,United States,North America,33,CrossFit Mentality,141.0,143.0,84,175.0,SCOTT PANCHIK
2,TRAVIS,MEAD,3,United States,North America,34,Iron Valley CrossFit,165.0,156.0,93,185.0,TRAVIS MEAD
3,SAXON,PANCHIK,4,United States,North America,25,CrossFit Cliffside,217.0,143.0,81,175.0,SAXON PANCHIK
4,RICHARD,FRONING JR.,5,United States,North America,33,CrossFit Mayhem,254.0,142.0,88,175.0,RICHARD FRONING JR.

In [51]:
df_men = df_men.drop(['first_name', 'lastname'], axis=1)

In [52]:
df_men

,placing,country,continent,age,affiliate,points,weight_lifted,weight,height_new,name
0,1,Canada,North America,27,CrossFit Wonderland,101.0,144.0,89,175.0,JEFFRE ADLER
1,2,United States,North America,33,CrossFit Mentality,141.0,143.0,84,175.0,SCOTT PANCHIK
2,3,United States,North America,34,Iron Valley CrossFit,165.0,156.0,93,185.0,TRAVIS MEAD
3,4,United States,North America,25,CrossFit Cliffside,217.0,143.0,81,175.0,SAXON PANCHIK
4,5,United States,North America,33,CrossFit Mayhem,254.0,142.0,88,175.0,RICHARD FRONING JR.
...,...,...,...,...,...,...,...,...,...,...
85443,134492,Germany,Europe,35,CrossFit DD,461936.0,0.0,33,168.0,FELIX GÜNTHER
85444,134811,Ireland,Europe,39,CrossFit Kerry,462477.0,0.0,74,176.0,DECLAN SMITH
85445,135879,France,Europe,42,NaN,463691.0,0.0,40,186.0,CHRISTIAN FRATTINI
85446,135880,United Kingdom,Europe,47,Battersea District CrossFit,463733.0,0.0,74,176.0,ANDREW VAUGHAN-WILLIAMS
85447,136066,France,Europe,45,CrossFit Angouleme,464640.0,0.0,36,177.0,YANN BOGDANOVIC

In [53]:
df_men = df_men.rename(columns={'height_new': 'height'})
df_men.head()

,placing,country,continent,age,affiliate,points,weight_lifted,weight,height,name
0,1,Canada,North America,27,CrossFit Wonderland,101.0,144.0,89,175.0,JEFFRE ADLER
1,2,United States,North America,33,CrossFit Mentality,141.0,143.0,84,175.0,SCOTT PANCHIK
2,3,United States,North America,34,Iron Valley CrossFit,165.0,156.0,93,185.0,TRAVIS MEAD
3,4,United States,North America,25,CrossFit Cliffside,217.0,143.0,81,175.0,SAXON PANCHIK
4,5,United States,North America,33,CrossFit Mayhem,254.0,142.0,88,175.0,RICHARD FRONING JR.

In [54]:
df_men['affiliate'].fillna(value='unknown', inplace=True)

In [55]:
new_order = ['placing', 'name', 'country','continent','age','affiliate','points','weight_lifted','weight','height']
df_men = df_men.reindex(columns=new_order)
df_men.head()

,placing,name,country,continent,age,affiliate,points,weight_lifted,weight,height
0,1,JEFFRE ADLER,Canada,North America,27,CrossFit Wonderland,101.0,144.0,89,175.0
1,2,SCOTT PANCHIK,United States,North America,33,CrossFit Mentality,141.0,143.0,84,175.0
2,3,TRAVIS MEAD,United States,North America,34,Iron Valley CrossFit,165.0,156.0,93,185.0
3,4,SAXON PANCHIK,United States,North America,25,CrossFit Cliffside,217.0,143.0,81,175.0
4,5,RICHARD FRONING JR.,United States,North America,33,CrossFit Mayhem,254.0,142.0,88,175.0

In [56]:
df_men['points'] = df_men['points'].astype(int)

In [58]:
df_men['weight_lifted'] = df_men['weight_lifted'].astype(int)

In [59]:
df_men['height'] = df_men['height'].astype(int)

In [61]:
df_men['placing'] = df_men['placing'].astype(int)

In [62]:
df_men['height_metros'] = df_men['height'].div(100)

In [63]:
df_men.head()

,placing,name,country,continent,age,affiliate,points,weight_lifted,weight,height,height_metros
0,1,JEFFRE ADLER,Canada,North America,27,CrossFit Wonderland,101,144,89,175,1.75
1,2,SCOTT PANCHIK,United States,North America,33,CrossFit Mentality,141,143,84,175,1.75
2,3,TRAVIS MEAD,United States,North America,34,Iron Valley CrossFit,165,156,93,185,1.85
3,4,SAXON PANCHIK,United States,North America,25,CrossFit Cliffside,217,143,81,175,1.75
4,5,RICHARD FRONING JR.,United States,North America,33,CrossFit Mayhem,254,142,88,175,1.75

In [64]:
df_men.to_csv('Open2021Powerbi.csv', index=False)